html, body {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}

.login-wrapper {
	width: 100%;
	min-width: 1440px;
	min-height: 800px;
	height: 100%;
	background: url(../img/bg.png)
}

.login-wrapper .content {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background: url(../img/login_bg.png) no-repeat;
	background-size: 100% 100%;
	position: relative
}

.login-wrapper .content .girl {
	position: absolute;
	top: 9.6%;
	bottom: 80px;
	height: 82%;
	left: 19.6%
}

.login-wrapper .content .login {
	position: absolute;
	height: 375px;
	width: 34.6%;
	left: 37.8%;
	top: 25%;
	bottom: 34%;
	background-size: 100% 100%
}

.login-wrapper .content .login header {
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 4px 4px 0 0;
	top: 0;
	left: 0;
	width: 100%;
    background-image: url('../img/log_header.png');
    font-size: 20px;
	color: #fff
}

.login-wrapper .content .login .login_close {
	position: absolute;
	right: 5px;
	width: 30px;
	height: 30px;
	top: 8px;
	cursor: pointer
}

.login-wrapper .content .login .header_black {
	position: absolute
}

.login-wrapper .content .login .form_content {
	width: 100%;
	min-height: 280px;
	padding: 10px 0;
	box-sizing: border-box;
	position: relative;
	background: #bcbcd2
}
.login-wrapper .content .login .form_content .login_form>div {
	margin: 30px 0; 
}
.login-wrapper .content .login .form_content .login_form .row .row_label {
	height: 34px;
	line-height: 34px;
	text-align: right;
}
.login-wrapper .content .login .form_content .login_form .sign_in_row {
	text-align: center;
	margin-bottom: 0;
}
.login-wrapper .content .login .form_content .login_form .sign_in_row .login_in {
	display: inline-block;
	cursor: pointer;
}

.login-wrapper .content .login .form_content .login_content {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}

.login-wrapper .content .login .form_content .el-form {
	width: 85%
}

.login-wrapper .content .login .form_content .el-form .el-form-item {
	margin-bottom: 8px
}

.login-wrapper .content .login .form_content .el-form .el-form-item .el-input__inner {
	height: 30px;
	line-height: 30px
}

.login-wrapper .content .login footer {
	position: relative;
	bottom: 0;
	height: 60px;
	width: 100%;
	background: #7575da;
	border-radius: 0 0 4px 4px
}

.login-wrapper .content .login footer span {
	position: absolute;
	width: 140px;
	height: 47px;
	top: 6px;
	left: 50%;
	transform: translateX(-50%);
	background-image: url(../img/4.png);
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 47px;
	cursor: pointer
}

.login-wrapper .content .login footer #register {
	background-image: url(../img/8.png);
	background-repeat: no-repeat;
	left: 100px;
}

.login-wrapper .content .login footer #customer_service {
	left: auto;
	right: -40px;
}
.login-wrapper .content .register_content {
	display: none;
}
.login-wrapper .content .login footer #sign_in {
	display: none;
}