html,body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.wrapper {
    width: 100%;
    height: 100%;
    /* min-width: 1920px;
    min-height: 1080px;  */
    background-image: url('../img/bg.png');
    background-size: 100% 100%;
    position: relative;
}
.wrapper .content {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
}
.wrapper .content>img {
    width: 100%;
    height: 100%;
}
.wrapper .content .select_content {
    position: absolute;
    height: 60%;
    width: 40%;
    /* width: 652px; */
    /* height: 577px; */
    right: 7.5%;
    top: 23.7%;
}
.wrapper .content .select_content img {
    width: 100%;
    height: 100%;
}
.wrapper .content .select_content .list {
    position: absolute;
    /* width: 233px; */
    /* height: 70px; */
    width: 35.7%;
    height: 12.1%;
    right: 15px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.wrapper .content .select_content .list span {
    position: absolute;
    top: 18%;
    left: 38.6%;
}
.wrapper .content .select_content .list  img {
    width: 100%;
    height: 100%;
}
.wrapper .content .select_content .list:nth-of-type(1) {
    /* top: 255px; */
    top: 44.1%;
}
.wrapper .content .select_content .list:nth-of-type(2) {
    /* top: 255px; */
    top: 59%;
}
.wrapper .content .select_content .list:nth-of-type(3) {
    /* top: 255px; */
    top: 74%;
}

.wrapper .content .header {
    position: absolute;
    height: 88px;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.wrapper .content .header>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wrapper .content .header .head {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 20px;
    top: 16px;
}
.wrapper .content .header .user_name {
    width: 7.5%;
    position: absolute;
    top: 30px;
    height: 50px;
    left: 100px;
}
.wrapper .content .header .user_name .name {
    font-size: 14px;
    color: #fff;
}

.wrapper .content .header .user_name .grade {
    position: absolute;
    height: 10px;
    width: 100%;
    color: #fff;
}
.wrapper .content .header .user_name .grade>span {
    float: left;
}
.wrapper .content .header .user_name .grade .progress{
    position: relative;
    float: left;    
    width: 70%;
    height: 8px;
    margin-top: 6px;
    margin-left: 5px;
    border-radius: 10px;
    background: #000;
    border: 1px solid #25222c;
} 
.wrapper .content .header .user_name .grade .progress span {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    background: #e2b561;
    height: 100%;
    border-radius: 10px;
}

.wrapper .content .header .header_list {
    position: absolute;
    left: 15%;
    height: 40px;
    width: 87%;
    line-height: 40px;
    color:#fff;
}
.wrapper .content .header .header_list>div {
    float: left;
    position: relative;
    height: 40px;
}
.wrapper .content .header .header_list .tx div {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    width: 108px;
    height: 29px;
    background: #000;
    border-radius: 20px;
}
.wrapper .content .header .header_list .tx span {
    position: relative;
    top: -9px;
}
.wrapper .content .header .header_list .tx div img {
    position: absolute;
}
.wrapper .content .header .header_list .tx div span {
    position: absolute;
    left: 44px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #ffcc55;
}
.wrapper .content .header .header_list .cz {
    margin-left: 12px;
}
.wrapper .content .header .header_list .cz img {
    position: relative;
    top: -2px;
}
.wrapper .content .header .header_list .notice {
    margin-left: 80px;
    width: 58%;
    overflow: hidden;
    color: #ffdf6f;
}
.wrapper .content .header .header_list .notice span {
    margin-left: 10px;
}

.wrapper .content .left_more {
    position: absolute;
    left: 0;
    bottom: 12px;
}
.wrapper .content .left_more img {
    margin-left: 12px;
    cursor: pointer;
}

/* 模态框 */
.mz_modal .modal-dialog{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 0;
	transform: translate(-50%, -50%)!important;
}
.mz_modal .modal-dialog {
    border-radius: 12px;
    height: 47%;
    overflow: hidden;
}
.mz_modal .modal-dialog .modal-content {
    height: 100%;
}
.mz_modal .modal-dialog .modal-header {
    padding: 0;
    border-bottom: none;
    height: 11%;
    width: 100%;
    background-image: url('../img/mz_header.png');
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    color: #fff;
}
.mz_modal .modal-dialog .modal-header span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mz_modal .modal-dialog .modal-header img.close {
    position: absolute;
    right: 10px;
    opacity: 1;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}
.mz_modal .modal-dialog .modal-content .modal-body {
    height: 89%;
    padding: 0;
}
.mz_modal .modal-dialog .modal-content .modal-body>img {
    width: 100%;
    height: 100%;
}
.mz_modal .modal-dialog .modal-content .modal-body .list {
    position: absolute;
    top: 32.4%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.mz_modal .modal-dialog .modal-content .modal-body .list>div {
    width: 14%;
    position: absolute;
    cursor: pointer;
}
.mz_modal .modal-dialog .modal-content .modal-body .list>div img {
    width: 100%;
}
.mz_modal .modal-dialog .modal-content .modal-body .list div:nth-of-type(1) {
    left: 22.4%;
}
.mz_modal .modal-dialog .modal-content .modal-body .list div:nth-of-type(2) {
    left: 43%;
}
.mz_modal .modal-dialog .modal-content .modal-body .list div:nth-of-type(3) {
    left: 64%;
}

.mz_modal .modal-dialog .modal-content .modal-body .list>div .text_t {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 16px;
}
.mz_modal .modal-dialog .modal-content .modal-body .list>div .text_b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 14px;
}