<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="" href="css/home.css">
    <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="home-wrapper">
        <header>
            <div class="notice">
                <img src="./img/10.png" alt="">
                <span>公告：我是公告我是公告我是公告我是公告我是公告</span>
            </div>
        </header>
        <div class="content">
            <div class="user">
                <div class="video">
                    <div class="video_title">视频直播</div>
                    <div class="video_content">
                        <img src="./img/video.png" alt="">
                    </div>
                </div>
                <div class="middle">
                    <img src="./img/vs.png" alt="">
                    <div>
                        <span>XX比赛</span>
                    </div>
                    <div>
                        <span>现金场</span>
                    </div>
                    <div>
                        <span>台位/座位号</span>
                    </div>
                </div>
                <div class="userinfo">
                    <div class="info_list">
                        <div class="head_portrait">
                            <img src="./img/vs.png" alt="">
                        </div>
                        <div class="user_name">
                            <span class="name">黄黄鹂</span>
                            <div class="grade">
                                <span>LV2</span>
                                <div class="progress">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="user_sign">
                            <span>个人
                                <br>信息</span>
                            <img src="./img/user_sign.png" alt="">
                        </div>
                        <img class="footer" src="./img/user_footer.png" alt="">
                    </div>
                    <div class="money">
                        <div class="qb">
                            <span>我的钱包：</span>
                            <div>
                                <img src="./img/36.png" alt="" class="postal" data-toggle="modal" data-target="#postalModal" postal>
                                <span>974</span>
                            </div>
                        </div>
                        <div class="cz">
                            <span>我的充值：</span>
                            <div> 
                                <img src="./img/37.png" alt="" class="recharge" data-toggle="modal" data-target="#rechargeModal">
                                <span>充值</span>
                            </div>
                        </div>
                        <div class="start" @click="handleStart">
                            <img src="./img/12.png" alt="">
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="game_content">
                <div class="dashang">
                    <span>打赏</span>
                </div>
                <ul id="poker_content">
                    <!--<li class="poker_list" v-for="elt in pokerList" :class="elt.active ? 'active' : '' ">
                        <img class="fire_buff_img" v-show="elt.active" src="./img/fire_buff.png" alt="">
                        <div v-if="elt.isD" class="_d">
                            <img src="./img/19.png" alt="">
                        </div>
                        <div class="item">
                            <span class="user_name">{{ elt.username }}</span>
                            <img :src="elt.icon" calss="header_icon" alt="" />
                            <span class="money">500</span>
                        </div>
                        <div class="poker">
                            <img src="./img/17.png" alt="">
                        </div>
                        <div v-if="elt.bets" class="dichi">
                            <div>
                                <img src="./img/18.png" alt="">
                                <span>{{ elt.bets }}</span>
                            </div>
                        </div>
                    </li>-->
                </ul>
                <div class="poker_center">
                    <!--<img v-for="item in showPoker" :src="item" alt="">-->
                </div>
                <div class="dichi">
                    <span>底池：175</span>
                    <div>
                        <img src="./img/21.png" alt="">
                        <span>175</span>
                    </div>
                </div>
            </div>
    
            <div class="footer">
                <img src="./img/27.png" alt="">
                  <!--<div v-for="item in btnLeftList" class="btn_list">{{ item }}</div>-->

                <!--<div class="btn_list" @click="handleBtnClick(item)">
                    <span v-for="item in btnRightlist">{{ item }}</span>
                </div>-->
                <div class="footer_btn"></div>

                <div class="customer_service">客服</div>
    
                <div class="position">
                    5号座位
                </div>
    
                <div class="money">
                    <img src="./img/26.png" alt="">
                    <span>370</span>
                </div>
    
                <div class="poker">
                    <img src="./img/a_poker.png" alt="">
                    <img src="./img/a_poker.png" alt="">
                </div>
            </div>


        </div>

        <!-- 充值的模态框 -->
        <div class="modal fade home_modal" id="rechargeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                            <img data-dismiss="modal" aria-hidden="true" src="./img/login_close.png" alt="">
                        充值
                    </div>
                    <div class="modal-body">
                        <div class="recharge_money"></div>
                        <div class="recharge_tips">
                            <img src="./img/gift.png" alt="">
                            <span>温馨提示： 1元等于10个筹码币</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="recharge_commit commit" data-dismiss="modal"   >确定充值</div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        <!-- 提现 -->
        <div class="modal fade home_modal" id="postalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <img data-dismiss="modal" aria-hidden="true" src="./img/login_close.png" alt="">
                            提现
                        </div>
                        <div class="modal-body">
                            <div class="user_info">
                                <div class="portrait">
                                    <img src="./img/35.png" alt="">
                                </div>
                                <div class="user_name">
                                    <div class="name">黄黄丽</div>
                                    <div class="lv">
                                        <span>LV2</span>
                                        <div class="progress_bar">
                                            <span></span>
                                        </div>
                                        <span class="portrait_money">可提现金额： 100元</span>
                                    </div>
                                </div>
                            </div>

                            <div class="portrait_input">
                                <img src="./img/36.png" alt="">
                                <input type="text" placeholder="输入提现金额"">
                            </div>

                            <div class="tooltip_content">
                                <div>
                                    <img src="./img/gift.png" alt="">
                                    <span>提现说明：</span>
                                </div>
                                <div class="tooltip_list">
                                    <div>1. 单笔最小提现额度为100元</div>
                                    <div>2. 每笔提现的账户管理费为2元</div>
                                    <div>3. 提现成功后将自动打入您绑定的银行卡</div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="postal_commit commit" data-dismiss="modal">确定提现</div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            <div class="modal fade home_modal" id="rechargeSuccessModal"  data-show tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <img data-dismiss="modal" aria-hidden="true" src="./img/login_close.png" alt="">
                            充值成功
                        </div>
                        <div class="modal-body">
                            <div class="success"> 
                                <img src="./img/success.png" alt="">
                                <span>充值成功</span>
                            </div>
                            <div class="success_num">共有1000个筹码币</div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>




    </div>
</body>
<script>
    $(function() {
        function Home() {
            this.fragment = document.createDocumentFragment();
            this.pokerList = [
                { username: '会员一', icon: './img/header_icon.png', money: 500 },
                { username: '会员一', icon: './img/header_icon.png', money: 500, bets: 60 },
                { username: '会员一', icon: './img/header_icon.png', money: 500 },
                { username: '会员一', icon: './img/header_icon.png', money: 500, active: true },
                { username: '会员一', icon: './img/header_icon.png', money: 500 },
                { username: '会员一', icon: './img/header_icon.png', money: 500 },
                { username: '会员一', icon: './img/header_icon.png', money: 500, isD: true }
            ];
            this.rechargeMoneyList= [
                { label: '20元', code: '20' },
                { label: '50元', code: '50' },
                { label: '100元', code: '100' },
                { label: '500元', code: '500' },
                { label: '1000元', code: '1000' },
                { label: '输入充值金额', code: '1000', type: 'input' },
            ];
            this.btnLeftList = ['弃牌', '370', '370', ['1/2底池', '2/3底池', '1倍底池']];
            this.pokerCenterList = ['./img/a_poker.png', './img/a_poker.png', './img/a_poker.png'];
            this.pokerContent = $('#poker_content');
            this.pokerCenter = $('.poker_center'); // 桌子中间的牌
            this.footerBtn = $('.footer_btn'); // 底部的按钮
            this.customerService = $('.customer_service');
            this.reward = $('dashang');
            this.recharge = $('.recharge');
            this.rechargeMoney = $('.recharge_money');
            this.rechargeCommit = $('.recharge_commit');
            this.portraitInput = $('.portrait_input input');
            this.postalCommit = $('.postal_commit');
            var rewardNum = 0;
            var portraitInputVal = '';
            this.init();
        }
        Home.prototype.init = function() {
            this.createPokerList(this.pokerList); // 生成桌子上每个人的牌
            this.createPokerCenterList(this.pokerCenterList); // 生成桌子中间的牌
            this.createFooterBtnList(this.btnLeftList);
            this.createRechargeMoneyList(this.rechargeMoneyList);
            this.customerService.bind('click', function() {
                this.commit('customerService')
            }.bind(this));

            this.reward.bind('click', function() {
                tihs.commit('handleReward');
            }.bind(this));

            this.recharge.bind('click', function() {
                this.commit('hanleRecharge');
            }.bind(this));

            this.rechargeCommit.bind('click', function() {
                this.commit('handleRechargeCommit');
            }.bind(this));

            this.portraitInput.bind('input', function() {
                portraitInputVal = this.value;
            });

            this.postalCommit.bind('click', function() {
                this.commit('handlePostalCommit', portraitInputVal);
            }.bind(this));

        };
        Home.prototype.createRechargeMoneyList = function(list, el) {
            var _this = this;
            list.forEach(function(elt) {
                var div = document.createElement('div');
                    div.innerHTML = !elt.type ? elt.label : '';
                    div.className = 'recharge_num';
                    div.addEventListener('click', function() {
                        _this.commit('handleRechargeMoney', elt);
                    });
                    if (elt.type) {
                        var input = document.createElement('input');
                        input.placeholder = elt.label;
                        input.className = 'other_money';
                        input.addEventListener('input', function() {
                            rewardNum = this.value;
                        });
                        div.appendChild(input);
                    }
                _this.fragment.appendChild(div);
            });
            this.rechargeMoney.get(0).appendChild(_this.fragment);
        };
        Home.prototype.createPokerList = function(pokerList, el) {
            /*
              * @param
              * bets: 绿色的东西
              * active: 是否显示火圈buffer
              * isD: D图标
              * */
            pokerList.forEach(function (elt) {
                var li = document.createElement('li');
                li.className = 'poker_list';
                li.innerHTML = '<img class="fire_buff_img" style="display: '+(elt.active ? 'block': 'none')+'" src="./img/fire_buff.png" alt="" />\n' +
                    '                        <div style="display: '+(elt.isD ? 'block' : 'none')+'" class="_d">\n' +
                    '                            <img src="./img/19.png" alt="">\n' +
                    '                        </div>\n' +
                    '                        <div class="item">\n' +
                    '                            <span class="user_name">'+elt.username+'</span>\n' +
                    '                            <img src="'+(elt.icon)+'" calss="header_icon" alt="" />\n' +
                    '                            <span class="money">500</span>\n' +
                    '                        </div>\n' +
                    '                        <div class="poker">\n' +
                    '                            <img src="./img/17.png" alt="">\n' +
                    '                        </div>\n' +
                    '                        <div style="display: '+(elt.bets ? 'block' : 'none')+'" class="dichi">\n' +
                    '                            <div>\n' +
                    '                                <img src="./img/18.png" alt="">\n' +
                    '                                <span>'+elt.bets+'</span>\n' +
                    '                            </div>\n' +
                    '                        </div>';
                this.fragment.appendChild(li);
            }.bind(this));
            this.pokerContent.get(0).appendChild(this.fragment);
        };
        Home.prototype.createPokerCenterList = function(pokerCenterList) {
            pokerCenterList.forEach(function(elt) {
                var img = document.createElement('img');
                img.src = elt;
                this.fragment.appendChild(img);
            }.bind(this));
            this.pokerCenter.get(0).appendChild(this.fragment);
        };
        Home.prototype.createFooterBtnList = function(btnLeftList) {
            var _this = this;
            btnLeftList.forEach(function(elt) {
                var div = document.createElement('div');
                div.className = 'btn_list';
                div.innerHTML = typeof elt == 'string' ? elt : '';
                if (elt instanceof Array) {
                    elt.forEach(function(child) {
                        var span = document.createElement('span');
                        span.innerHTML = child;
                        span.addEventListener('click', function() {
                            _this.commit('handleRightBtnEvent', child);
                        });
                        div.appendChild(span);
                    });
                }
                div.addEventListener('click', function() {
                    _this.commit('handleLeftBtnEvent', elt);
                }, false);
                _this.fragment.appendChild(div);
            });
            this.footerBtn.get(0).appendChild(this.fragment);
        };

        // 所有的事件都在此处调用
        Home.prototype.mutations = {
            // 底部的右边按钮点击事件
            handleRightBtnEvent: function(item) {
                console.log(item);
                // $.ajax();
            },
            // 底部左边的按钮点击事件
            handleLeftBtnEvent: function(item) {
                console.log(item);
                // $ajax();
            },
            customerService: function() {
                // 客服
            },
            handleReward: function() {
                // 打赏
            },
            hanleRecharge: function() {
                // 充值
                rewardNum = 0; // 重置金额
            },
            handleRechargeMoney: function(elt) {
                // 充值
                rewardNum = elt.code;
            },
            handleRechargeCommit: function() {
                // rewardNum : 充值金额
                console.log(rewardNum);
                $('#rechargeSuccessModal').modal('show')
                $.ajax();
            },
            handlePostalCommit: function(val) { // val: 提现金额
                // 提现
                console.log(val);
                $.ajax();
            }
        };
        Home.prototype.commit = function(name, args) {
            const mutations = this.mutations;
            if (mutations[name]) {
                var arg = [].slice.call(arguments, 1, arguments.length);
                mutations[name].apply(this, arg);
            } else {
                throw new Error(`Action not found: ${name}`);
            }
        }
        var home = new Home();
    })
</script>
</html>